<div class="jumbotron pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Hello, world!</h1>
        <p class="text-break">
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
          porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget
          metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.
        </p>
        <p>
          <a class="btn btn-primary btn-lg text-light font-weight-bold" style="font-weight: 500" role="button" [routerLink]="['/Home']"
            >Questionnaires <i class="fas fa-angle-double-right fa-xs"></i
          ></a>
        </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/undraw_Data_re_80ws.svg" alt="" style="width: 100%; height: 100%" />
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
          porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
          porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo,
          tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </p>
      </div>
    </div>
    <hr class="mt-1" />
  </div>
</div>
